@{
    ViewData["Title"] = "Home Page";
}

<div class="css">
    <a href="https://www.unifoa.edu.br/">
        <img src="~/css/unifoa.jpeg" alt="" title="FOA" width="200" height="200" />
    </a>
    <div class="text-center">
        <h1 class="display-4"> Bem vindo!</h1>
        <p>Professor:ROSENCLEVER LOPES GAZONI</p>
        <h4> Alunos: Douglas Moreira Rodrigues </h4>
        <h4> Emanuel Silva dos Santos </h4>

    </div>
</div>
